.cardContainer {
    width: 85%;
    min-height: 100%;
    margin: 4rem auto 0 ;
    font-family: malgun gothic;
}
.cardContainer > p {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardList {
    min-width:900px; /* 이 부분을 조정하면 반응형 만들수 있다.*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.cardList li {
    display: block;
    flex-basis: 22%;
    min-width: 22%;
    margin-bottom: 4rem;
}
.cardList li > .imageContainer {
    overflow: hidden;
}
.cardList li > .imageContainer img {
    width: 100%;
    transition-duration: 0.5s;
}
.cardList li img:hover {
    transform: scale(1.3);
}
.cardList li .textContainer {
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;
}
.cardList li .textContainer p:last-child{
    margin-top: 0.7rem;
    font-size: 0.9rem;
}

.cardContainer .btnContainer {
    text-align: center;
    border: 1px solid red;
}

.cardContainer .btnContainer button {
    padding: 5px 40px;
    border: 2px solid black;
    font-size: 1.2rem;
    color: var(--background-color);
    background-color: black;
}
.cardContainer .btnContainer button:hover {
    color: black;
    background-color: var(--background-color);
}