.detailContainer {
    height: 1100px;
    border: 5px solid green;
}
.detailContainer .wrapper {
    width: 900px;
    border: 5px solid red;
    margin: auto;
}
.detailContainer .wrapper .linkContainer {
    /* border: 5px solid palevioletred; */
}
.detailContainer .wrapper .linkContainer span {
    color: gray;
    font-size: 0.9rem;
}
.detailContainer .wrapper .linkContainer a {
    color: gray;
    font-size: 0.9rem;
    opacity: 0.6;
}
.detailContainer .wrapper .nameContainer {
    border: 5px solid yellowgreen;
}
.detailContainer .wrapper .infoContainer {
    /* width: 50px; */
    border: 5px solid palevioletred;
    display: flex;
}
.detailContainer .wrapper .imageContainer {
    width: 500px;
    border: 1px solid blue;
}
.detailContainer .wrapper .imageContainer img {
    width: 100%;
}
.detailContainer .wrapper .textContainer {
    border: 1px solid red;
}