.detailContainer {
    height: 1100px;
    border: 5px solid green;
}
.detailContainer .wrapper {
    width: 900px;
    /* border: 5px solid red; */
    margin: auto;
}

.detailContainer .wrapper .linkContainer {
    /* border: 1px solid palevioletred; */
}
.detailContainer .wrapper .linkContainer span {
    color: #b2b2b2;
    font-size: 0.9rem;
}
.detailContainer .wrapper .linkContainer a {
    color: #b2b2b2;
    font-size: 0.9rem;
}

.detailContainer .wrapper .nameContainer {
    margin-top: 1rem;
    display: flex;
    /* border: 5px solid yellowgreen; */
}
.detailContainer .wrapper .nameContainer .sale {
    background-color: var(--background-color);
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 1rem;
    padding: 4px 6px;
    border-radius: 5px;
    /* border: 1px solid red; */

}
.detailContainer .wrapper .nameContainer .name {
    /* border: 1px solid red; */
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 22px;
}

.detailContainer .wrapper .infoContainer {
    /* width: 50px; */
    /* border: 1px solid palevioletred; */
    display: flex;
    margin-top: 20px;
}
.detailContainer .wrapper .imageContainer {
    width: 500px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}
.detailContainer .wrapper .imageContainer img {
    width: 100%;
}
.detailContainer .wrapper .textContainer {
    border: 1px solid red;
    margin-left: 40px;
}