.saleContainer {
    height: 875px;
    margin: 2rem 0 0;
}
.saleContainer .containerTop {
    display: flex;
    height: 725px;
}

.saleContainer .containerTop .textContainer {
    position: relative;
    width: 65%;
    background-image: url(../../public/assets/img/background1.png);
    background-color: var(--background-color);
}

.saleContainer .containerTop .textContainer > div {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.boltIcon {
    font-size: 3rem;
}
.text {
    font-size: 2rem;
    margin-top: 2rem;
}
.highLight {
    margin-top: 2rem;
    font-size: 8rem;
}

.saleContainer .containerTop .imageContainer {
    width: 35%;
}
.saleContainer .containerTop .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.saleContainer .containerBottom {
    width: 100%;
    position: relative;
    height: 150px;
}
.saleContainer .containerBottom > div {
    width: 100%;
    min-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* border: 1px solid red; */
}
.saleContainer .containerBottom > div > .rightArrow  {
    font-size: 2.5rem;
    width: 200px;

    animation-name: rightArrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.saleContainer .containerBottom > div > .leftArrow  {
    font-size: 2.5rem;
    width: 200px;

    animation-name: leftArrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.saleContainer .containerBottom > div > span {
    font-size: 2.5rem;
    text-decoration: underline;
}
.saleContainer .containerBottom > div > span > a {
    text-decoration: none;
    color: black;
}

@keyframes rightArrow {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(30%,0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes leftArrow {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(-30%,0);
    }
    100% {
        transform: translate(0,0);
    }
}