.App {
  text-align: center;
}

.jumbo-container {
  max-width: 85vw;
  /* height: 70vh !important; */
  margin: auto;
  border: 1px solid black;
}

.jumbo-container img {
  width: 100px;
  /* height: 100px; */
  object-fit: fill;
}

.slide-container {
  border: 1px solid black;
  margin: auto;
  width: 90vw;
  /* height: 40vh; */
}


.slide-container img {
  /* width: 60vw;
  height: 40vh; */
}